<!DOCTYPE html>
<html lang="en">
<link>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles/all_confessions.css">
<title>Confess Your Secrets</title>

<!-- Metadata -->
<meta name="description" content="Here are all confessions made to Prabesh!">
<meta name="author" content="Prabesh Aryal">

<!-- Thumbnail -->
<meta property="og:image" content="https://prabesharyal.info.np/Assets/images/confess.jpeg">
<meta property="og:image:secure_url" content="https://prabesharyal.info.np/Assets/images/confess.jpeg">

<!-- Social Media Metadata -->
<meta property="og:title" content="Opened up to Prabesh✨">
<meta property="og:description" content="Confessions Anonymously shared with Prabesh!">
<meta property="og:url" content="prabesharyal.info.np">
<meta property="og:type" content="website">

<!-- Favicon -->
<link rel="icon" href="https://prabesharyal.info.np/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="styles/style.css">

<!-- Time Converter -->
<script src="https://unpkg.com/dayjs@1.11.2/dayjs.min.js"></script>

</head>

<body>

  <div class="all_in_one_container">
          <% if (confessions.length> 0) { %>
          <div class="the_box">
                <% confessions.forEach((confession)=> { %>

              <div class="per_confession_item">
                  <a href="#" class="confession_share_a">
                      <div class="confession_card_bg"></div>
                      <div class="confession_acual_text">
                        <%= confession.content %>
                      </div>
                      <div class="confessed_date_box" id="confessedDateBox">
                          Time :
                          <span class="confessed_date_time">
  <%= confession.timestamp %>
                          </span>
                      </div>
                  </a>
              </div>
              <% }); %>

          </div>
          <% } else { %>
            <p>No confessions found.</p>
            <% } %>
      </div>


</body>

<!-- see template here https://codepen.io/wikyware-net/pen/dyKPRxQ -->


</html>